@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<li class="nav-item">
    <a class="nav-link" asp-area="AdministratorModul" asp-controller="Dogadjaji" asp-action="Prikaz">Događaji</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="AdministratorModul" asp-controller="Kursevi" asp-action="Prikaz">Kursevi</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="AdministratorModul" asp-controller="Organizacije" asp-action="Index">Organizacije</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="AdministratorModul" asp-controller="Obavijesti" asp-action="Prikaz">Obavijesti</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="AdministratorModul" asp-controller="Uposleni" asp-action="Index">Uposleni</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="AdministratorModul" asp-controller="Uloge" asp-action="Index">Uloge</a>
</li>