@{
    var Action = TempData["action"].ToString();
    var Controller = TempData["controller"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SelectListItem

<form asp-action="@Action" asp-controller="@Controller">
    <input asp-for="Value" value="@Model.Value" hidden />
    <label for="Text">Naziv uplate</label>
    <input asp-for="Text" value="@Model.Text" type="text" />
    <input type="submit" class="btn btn-dark" value="Spremi" />
</form>