@{
    ViewData["Title"] = "Home Page";
}


@*<a class="nav-link" asp-area="AdministratorModul" asp-controller="Dogadjaji"
   asp-action="TipDogadjajaPrikaz">Link za testiranje tipa dogadjaja</a>

<a class="nav-link" asp-area="AdministratorModul" asp-controller="KategorijaKursa"
   asp-action="KategorijaKursaPrikaz">Link za testiranje kategorije kursa</a>

<a class="nav-link" asp-area="AdministratorModul" asp-controller="Kursevi"
   asp-action="Prikaz">Link za testiranje kurseva</a>

<a class="nav-link" asp-area="AdministratorModul" asp-controller="Obavijesti"
   asp-action="KategorijaObavijestiPrikaz">Link za testiranje kategorije obavijesti</a>

<a class="nav-link" asp-area="AdministratorModul" asp-controller="Polaznici"
   asp-action="TipPolaznikaPrikaz">Link za testiranje tipa polaznika</a>

<a class="nav-link" asp-area="AdministratorModul" asp-controller="Prostorije"
   asp-action="Prikaz">Link za testiranje prostorija</a>

<a class="nav-link" asp-area="AdministratorModul" asp-controller="Uloge"
   asp-action="Index">Link za testiranje uloga</a>

<a class="nav-link" asp-area="AdministratorModul" asp-controller="Uplate"
   asp-action="SvrhaUplatePrikaz">Link za testiranje svrhe uplate</a>

<a class="nav-link" asp-area="AdministratorModul" asp-controller="Uposleni"
   asp-action="Registracija">Link za testiranje registracije uposlenih</a>

<p>Napomena: Uloge bi se prvo trebale dodati direktno u bazu.</p>
<p>Registracija polaznika klik na tab registraciaj u gornjem desnom uglu</p>*@

<!-- Header -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Kulturni centar TAM</h1>
                <p class="lead mb-5 text-white-50"> Poštovani zaposlenici, molimo vas da vaš posao obavljate krajnje profesionalno, kao i do sada :) </p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Misija centra</h2>
            <hr>
            <p>Molimo vas da ne zaboravite šta je misija ovog centra. Naša misija su zadovoljni korisnici, pružanje kvalitetnog sadržaja korisnicima i osnaživanje zajednice.</p>
            <p>Vi ste ključan dio ostvarenja naše misije, te očekujemo maksimalnu posvećenost na dobrobit svih nas. Molimo vas da sve uočene nepravilnosti prijavite upravi centra.</p>
            @*<a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>*@
        </div>
        <div class="col-md-4 mb-5">
            <h2>Kontakt info</h2>
            <hr>
            <address>
                Broj telefona:
                (+387) 642 644
                <br>
                Email:
                <a href="mailto:kulturnicentartam@gmail.com">kulturnicentartam@gmail.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Kursevi</h4>
                    <p class="card-text">Pregled kurseva, dodavanje i uređivanje, te vođenje evidencije</p>
                </div>
                @*<div class="card-footer">
                    <a href="#" class="btn btn-primary">Prikaži</a>
                </div>*@
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Obavijesti</h4>
                    <p class="card-text"> Pregled zadnjih obavijesti, te dodavanje novih ili izmijena i brisanje postojećih </p>
                </div>
                @*<div class="card-footer">
                    <a href="#" class="btn btn-primary">Prikaži</a>
                </div>*@
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Događaji</h4>
                    <p class="card-text">Pregled događaja, te odobravanje</p>
                </div>
                @*<div class="card-footer">
                    <a href="#" class="btn btn-primary">Prikaži</a>
                </div>*@
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->