@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>Potvrda Emaila</h1>
@{
<p>
       Molimo vas da klikom na link koji smo poslali na vas email dovrsite registraciju.
</p>
}
